<% provide(:title, "About Us") %>
<h1>About Us</h1>
<p>
  The "Happening" app answers "What is happening around you?".
</p>
<p>
  The app can also be used to find out information about your immediate neighborhod such as restaurants, famous places, ...<br/>

  Users can like and comment on other objects, be it a favorite restaurant, event...
</p>
