<div class="center hero-unit">
  <h1>Welcome to the Happening App</h1>

  <h2>Find out what&rsquo;s happening near you</h2>

  <%= link_to "Sign up now!", "#", class: "btn btn-large btn-primary" %>
</div>
