<% if user_signed_in? %>
  <ul>
    <li><%= link_to "landmarks", landmarks_path%></li>
  </ul>
<% else %>
<div class="center hero-unit">
  <h1>Welcome to Happening</h1>

  <h2>Find out what&rsquo;s happening near you</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<% end %>
