<li>
  <span class="content"><%= wrap(status.text) %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(status.created_at) %> ago.
  </span>
  <% if current_user?(status.user) %>
    <%= link_to "delete", [current_user, status], method: :delete, 
                                     data: { confirm: "You sure?" },
                                     title: status.text %>
  <% end %>
</li>
