<div class="row">
  <aside class="span4">
    <section>
      <h3><%= @user.username %></h3>
    </section>
  </aside>
  <div class="span8">
    <h3><%= @user.username %>&rsquo;s Activity</h3>
    <ul class="statuses">
      <%= render @user.statuses %>
    </ul>
  </div>
</div>

