<div class="row">
  <aside class="span4">
    <section>
      <h3><%= @user.username %></h3>
    </section>
  </aside>
  <div class="span8">
    <h3>Activity</h3>
    <ul class="feed">
      <%= render partial: 'users/feed_item', collection: @feed_items %>
    </ul>
  </div>
</div>

