<h3><%= @restaurant.title %></h3>
<div class="externalurl"><%= link_to @restaurant.url, @restaurant.url %></div>
<div class="address">Address: <%= @restaurant.address %></div>
<div class="distance">Distance: <%= @restaurant.distance %></div>
