<footer class="footer">
  <small>
    <a href="#">Happening</a>
    by @arvindevo
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", "#" %></li>
      <li><%= link_to "Contact", "#" %></li>
    </ul>
  </nav>
</footer>

